DndWebApp/server/DndWebApp.Api/obj/Debug/net9.0/DndWebApp.Api.AssemblyInfoInputs.cache
DndWebApp/server/DndWebApp.Api/obj/Debug/net9.0/DndWebApp.Api.AssemblyInfo.cs
DndWebApp/server/DndWebApp.Api/obj/Debug/net9.0/DndWebApp.Api.AssemblyInfo.cs
DndWebApp/server/DndWebApp.Api/obj/Debug/net9.0/DndWebApp.Api.AssemblyInfoInputs.cache
*.cache
/DndWebApp/server/DndWebApp.Api/obj
