/DndWebApp/server/DndWebApp.Api/bin
/DndWebApp/server/DndWebApp.Api/obj
/DndWebApp/server/DndWebApp.Tests/bin
/DndWebApp/server/DndWebApp.Tests/obj

*.cache
src/DndWebApp.Api/obj/Debug/net9.0/DndWebApp.Api.AssemblyInfo.cs
